In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from pprint import pprint
from sklearn.preprocessing import LabelBinarizer

In [5]:
df=pd.read_csv("C://Users//h213139//Desktop//Titanic.csv")
df["label"]=df.Survived
df= df.drop(["Name", "Cabin","Ticket","PassengerId","Survived","Sex","Pclass","Embarked","Parch"], axis=1)

In [6]:
df.head()

    Age  SibSp     Fare  label
0  22.0      1   7.2500      0
1  38.0      1  71.2833      1
2  26.0      0   7.9250      1
3  35.0      1  53.1000      1
4  35.0      0   8.0500      0

In [7]:
lb= LabelBinarizer()
lb_results=lb.fit_transform(df['SibSp'])

In [10]:
lb_results[:5]

array([[0, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0]])

In [17]:
df.SibSp.nunique()

7

In [18]:
df.dtypes

Age      float64
SibSp      int64
Fare     float64
label      int64
dtype: object

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
a = OneHotEncoder()

In [ ]:
from sklearn.preprocessing import l